{% if paginator and paginator.pages|length > 1%}
    <div class="paginator">
        {% for page in paginator.pages %}
            <a class="{% if page == paginator.current %} active {% endif %}" title="{{page}}" data-page="{{page}}" href="{{path('client_homepage' ,{'page':page})}}">{{page}}</a>
        {% endfor %}
    </div>
{% endif %}