client_homepage:
    path:     /{page}
    defaults: { _controller: ClientBundle:Default:index, page: 1 }
    requirements:
      page: \d+

client_report:
    path:     /report-filter
    defaults: { _controller: ClientBundle:Default:report }
    requirements:
      _method: POST

client_remove:
    path:     /remove-client/{id}
    defaults: { _controller: ClientBundle:Default:remove }
    requirements:
      _method: POST
      id: \d+
